
/**************** Global ****************/

h1 {
  text-align: center;
}

img {
 max-width: 100%;
}

a {
  font-family: $main-font;
  text-decoration: none !important;
  color: #aaa;
  letter-spacing: 1.1px;
  transition: color 150ms ease-in-out;
  &:hover {
    color: #5614BA;
    text-decoration: none !important;
  }
}

p {
  font-family: $main-font;
}

body {
  font-family: $main-font;
}

/**************** Tiles ****************/

.tile {
  cursor: pointer;
  margin-bottom: 15px;
  margin-left: 10px;
  border-radius: 1px;
  border: 1px solid green;
  padding: 15px;
  display: inline-block;
  text-align: center;
  width: 200px;
  max-width: 250px;
  max-height: 250px;
  transition: transform 300ms ease-in-out, box-shadow 200ms ease-in-out;
}

.tile:hover {
  transform: scale3d(1.05, 1.05, 1.05);
  box-shadow: 1px 2px 1px 1px #ddd;
  font-weight: 500;
}






/* Main Container */

.main-container {
  position: relative;
}

iframe {
  border: none;
  outline: none;
  max-width: 100%;
}




/**************** media queries ****************/

@media (max-width: 800px) {
  .sidebar {
    position: static;
    width: 20%;
    min-height: 100%;
    text-align: center;
  }
  .flat-table {
    width: 250px;
  }
}


.table-thumbnail {
  width: 7.5em;
  height: 4em;
}




/* Live Stream Page */

.padding-container {
  padding: 50px 0;
}