



$main-font: 'Raleway' sans-serif;



/**************** Global ****************/

h1 {
  text-align: center;
}

img {
 max-width: 100%;
}

a {
  font-family: $main-font;
  text-decoration: none !important;
  color: #aaa;
  letter-spacing: 1.1px;
  transition: color 150ms ease-in-out;
}

a:hover {
  color: #5614BA;
  text-decoration: none !important;
}

p {
  font-family: $main-font;
}

body {
  font-family: $main-font;
}

/* header */
header {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 10px;
  height: 50px;
  border-bottom: 1px solid #eee;
}

header nav {
  padding: 1px;
}

header nav a {
  margin: 10px;
  color: black;
  font-size: 18px;
  font-weight: 500;
}

footer {
  background-color: #2b3036;
  height: 100px;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

footer nav {
  padding: 1px;
}

footer nav a {
  margin: 5px;
  color: white;
  font-size: 16px;
}



/* button */
button {
  outline: none;
}


/**************** Tiles ****************/

.tile {
  cursor: pointer;
  margin-bottom: 15px;
  margin-left: 10px;
  border-radius: 1px;
  border: 1px solid green;
  padding: 15px;
  display: inline-block;
  text-align: center;
  width: 200px;
  max-width: 250px;
  max-height: 250px;
  transition: transform 300ms ease-in-out, box-shadow 200ms ease-in-out;
}

.tile:hover {
  transform: scale3d(1.05, 1.05, 1.05);
  box-shadow: 1px 2px 1px 1px #ddd;
  font-weight: 500;
}





/************************** Sidebar **************************/

.sidebar {
 width: 8%;
 min-height: 100%;
 background-color: #2b3036;
 position: static;
 float: left;
}

.sidebar div {
 padding: 35px 10px;
 transition: background-color 100ms ease-in-out;
}

.sidebar div:hover {
 background-color: #5614BA;
 cursor: pointer;
}

.selected {
  background: #5614BA;
}

.home, .analytics, .seo, .social, .identity, .client-interface, .reports, .settings, .slack, .signout {
 color: white;
 text-align: center;
 max-width: 100%;
 border-bottom: 1px solid white;
}


/* Main Container */

.main-container {
  text-align: center;
  padding: 50px;
}

.header-container {
  text-align: center;
  padding-top: 0;
  margin: 0 auto;
}

.form-control {
  max-width: 50%;
  margin: auto;
}

.btn {
  outline: none;
}

.btn-default {
  outline: none;
}

/* Tables */

.flat-table {
  display: inline-block;
  font-family: $main-font;
  -webkit-font-smoothing: antialiased;
  font-size: 115%;
  overflow: visible;
  width: 750px;
  margin: auto;
}

th {
  background-color: rgb(112, 196, 105);
  color: white;
  font-weight: normal;
  padding: 20px 30px;
  text-align: center;
}

td {
  background-color: #eee;
  color: rgb(111, 111, 111);
  padding: 20px 30px;
  border: 1px solid #ddd;
  width: 250px;
}

td:hover {
  background-color: rgb(132, 216, 125);
  cursor: pointer;
  color: white;
}


iframe {
  border: none;
  outline: none;
}




/**************** media queries ****************/

@media (max-width: 800px) {
  .sidebar {
    position: static;
    width: 20%;
    min-height: 100%;
    text-align: center;
  }
  .flat-table {
    width: 250px;
  }
}





/* Live Stream Page */

.padding-container {
  padding: 50px 0;
}



.services {
  .img-hover:hover {
    opacity: .8;
  }
  .top-margin {
    margin-top: 50px;
  }
  .author {
    font-weight: 700;
  }
  .date {
    font-weight: 700;
  }
  .content {
    font-family: $main-font;
    letter-spacing: 1.2px;
    text-align: justify;
  }
  .bottom-margin {
    margin-bottom: 50px;
  }
}


.posts {
  .top-margin {
    margin-top: 50px;
  }
  .author {
    font-weight: 700;
  }
  .date {
    font-weight: 700;
  }
  .content {
    font-family: $main-font;
    font-size: 18px;
    letter-spacing: 1.1px;
    text-align: justify;
  }
  .bottom-margin {
    margin-bottom: 50px;
  }
}


.button-outline {
  border: 1px solid black;
  background: none;
  color: black;
  display: block;
  width: 100%;
  height: 3em;
  transition: background 300ms ease-in-out, color 200ms ease-in-out;
  &:hover {
    background: black;
    color: white;
  }
}